html
latex
ToDo.txt
.gitignore
PyGW_IS_FOR_OLD_DATA/__init__.py
PyGW_IS_FOR_OLD_DATA.py
Python/PyGW_IS_FOR_OLD_DATA/WaveformObjects.py
Python/SWSHs.py
Test/Input
MachineDef
xml
lib*.so
_*.so
*_wrap.cxx
*_wrap.cpp
*.pyc
*.d
*.o
*~
*CalculatorOutput.cpp
build
